# development folders
venv/
.vscode/

# config
config/config.yml
config/token.txt

# cache files
.DS_Store
__pycache__/

# data files
_db/**/*.*
_cache/**/*.*

# let .gitkeep override all
!**/.gitkeep